.project-hero-container {
    background-image: url('/images/project-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color: var(--peach);
  
    padding-block: 7rem;
    padding-inline: 1.5rem;
}

.project-hero-description {
    color: var(--white);
    text-align: center;
}

.project-hero-description h1 {
    margin-bottom: 1.875rem    ;
}